/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import 'normalize.scss';
@import 'fonts.scss';
@import 'variables.scss';
@import 'plaseholders.scss';
@import 'mixin.scss';
@import 'base.scss';
@import 'container.scss';
// @import 'components/page-reviev-section.scss';
@import 'components/features-section.scss';
@import 'components/video-section.scss';
