%link {
    text-decoration: none;
}

%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%absoluteCoverPseudo {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}