$main-font: 'Open Sans', sans-serif;
$second-font: 'Raleway', sans-serif;
$main-seagreen-color: #1ab798;
$second-blue-color: #31d4e7;
$main-text-color: #ffffff;
$second-text-color: #455967;
$team-description-text: #062033;
$team-features-hover: #32bfa3;
$team-overlay-hover: #0eb493;
$team-icon-hover: #147764;
$round-icon-video: #0098cd;
$footer-icon-fb: #3b5997;
$footer-icon-tv: #3ec2f3;
$footer-icon-in: #007ab9;
$footer-accent-text: #b6a4d6;
$footer-main-text: #b6a4d6;
$footer-grey-text: #878787;
$footer-form-text: #cdcdcd;
$nav-white-color: #7e7c7e;
$text-black-color: black;
$slider__pseudo-line-color: #babdc1;
$slider__pseudo-blackquote: #efefef;
$slider__pseudo-border: #c4c7c7;
$slider__cursor: #d4d3d4;
$slider__user-information: #646464;
$slider__article: #282528;
$video-header-color: #222222;
$video-border-color: #c5c5c5;
//*переменные с путями фоток,,
$slider__user-image: '../images/slider__user-min.jpg';
