            /* стили основного контейнера слайдера */
            
            .slider_title {
                text-transform: uppercase;
                text-align: center;
                color: $main-seagreen-color;
                font-family: 'Ralevay';
                font-size: 28px;
                font-weight: 400;
                @include center-flex($type: 'all');
            }
            
            .slider_text {
                position: relative;
                @include center-flex($type: 'all');
                &::after {
                    @include pseudoline($display: inline-block, $content: '', $width: 60px, $height: 1px);
                    background-color: $slider__pseudo-line-color;
                    margin-left: 30px;
                }
                &::before {
                    @include pseudoline($display: inline-block, $content: '', $width: 60px, $height: 1px);
                    background-color: $slider__pseudo-line-color;
                    margin-right: 30px;
                }
            }
            
            .slider {
                position: relative;
                overflow: hidden;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
            /* стили для обёртки, в которой заключены слайды */
            
            .slider__wrapper {
                position: relative;
                overflow: hidden;
            }
            /* стили для контейнера слайдов */
            
            .slider__items {
                display: flex;
                transition: transform 0.6s ease;
            }
            /* стили для слайдов */
            
            .slider__item {
                flex: 0 0 100%;
                max-width: 100%;
                max-height: 600px;
                background-color: $main-text-color;
            }
            
            .slider__content {
                flex-direction: column;
                @include center-flex($type: 'all');
                text-align: center;
                height: 600px;
                max-width: 100%;
            }
            
            .slider__user {
                margin-bottom: 30px;
            }
            
            .slider__user-content {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 30px;
                &::before {
                    @extend %absoluteCoverPseudo;
                    width: 100px;
                    height: 100px;
                }
            }
            
            .i1 {
                &::before {
                    @include bg-image($path: $slider__user-image, $size: cover, $repeat: no-repeat, $pos: center);
                    border-radius: 50%;
                    border: solid 2px $slider__pseudo-border;
                }
            }
            
            .slider__user-name {
                margin: 0;
            }
            
            .slider__user-information {
                margin: 2px;
            }
            
            .slider__article {
                padding: 0 40px;
                z-index: 1;
                position: relative;
                &::before {
                    position: absolute;
                    top: 6%;
                    opacity: 1;
                    font-size: 106px;
                    line-height: 0;
                    z-index: -3;
                    @include pseudo($display: flex, $content: '“');
                    color: $slider__pseudo-blackquote;
                }
            }
            /* стили для индикаторов */
            
            .slider__indicators {
                position: absolute;
                right: 0;
                bottom: 10px;
                left: 0;
                z-index: 15;
                @include center-flex($type: 'all');
                padding-left: 0;
                margin-right: 15%;
                margin-left: 15%;
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;
            }
            
            .slider__indicators li {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -988px;
                cursor: pointer;
                background-color: rgba(212, 211, 212, 0.5);
                background-clip: padding-box;
                border-top: solid transparent;
                border-bottom: solid transparent;
            }
            
            .slider__indicators li.active {
                background-color: $main-seagreen-color;
            }