            /* стили контейнера секции team */
            
            .team-section__title {
                text-align: center;
            }
            
            .team-section__title--text {
                text-transform: uppercase;
                text-align: center;
                color: $main-seagreen-color;
                font-family: 'Raleway';
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding-bottom: 39px;
                @include center-flex($type: 'all');
                &::after {
                    @include pseudoline($display: inline-block, $content: '', $width: 60px, $height: 1px);
                    background-color: $slider__pseudo-line-color;
                    margin-left: 30px;
                }
                &::before {
                    @include pseudoline($display: inline-block, $content: '', $width: 60px, $height: 1px);
                    background-color: $slider__pseudo-line-color;
                    margin-right: 30px;
                }
            }
            
            .team-section__title--description {
                margin: 0;
                padding-bottom: 55px;
                color: $team-description-text;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 16px;
            }
            
            .team-cards {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
            }
            
            .team-card {
                width: 270px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .team-card__photo {
                position: relative;
            }
            
            .team-overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $team-overlay-hover;
            }
            
            .team-card:hover .team-overlay {
                opacity: 0.9;
                transition: opacity 0.3s;
            }
            
            .team-overlay__text {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
            }
            
            .team-overlay__title {
                padding: 24px 36px;
                text-align: center;
                line-height: 19px;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 16px;
                color: $main-text-color;
            }
            
            .team-overlay__description {
                padding: 0 30px 72px;
                text-align: center;
                line-height: 19px;
                font-family: 'Open Sans';
                font-weight: 300;
                font-size: 16px;
                color: $main-text-color;
            }
            
            .team-overlay__icons {
                width: 135px;
                margin: 0 auto;
                padding-bottom: 23px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .team-overlay__icon--twitter {
            padding: 10px;
            width: 42px;
            height: 42px;
            background-color: $team-icon-hover;
            fill: $main-text-color;
            }

            .team-overlay__icon--facebook {
                padding: 10px;
                width: 42px;
                height: 42px;
                background-color: $team-icon-hover;
                fill: $main-text-color;
            }

            .team-overlay__icon--linkedin {
                padding: 10px;
                width: 42px;
                height: 42px;
                background-color: $team-icon-hover;
                fill: $main-text-color;
            }

            .team-card__description {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .team-card__name {
                margin: 0;
                padding: 20px 0;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 18px;
                color: $team-overlay-hover;
            }
            
            .team-card__position {
                margin: 0;
                padding-bottom: 55px;
                font-family: 'Open Sans';
                font-size: 13px;
                font-weight: 400;
                color: $team-description-text;
            }
            
            @media (min-width: 768px) {
                .container {
                    max-width: 708px;
                }
                .team-cards {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            
            @media (min-width: 1200px) {
                .container {
                    max-width: 1145px;
                }
                .team-cards {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            #icon-twitter {
                width: 22px;
                height: 22px;
            }